In [3]:
# while condition:
    #code

In [19]:
number = int(input("Enter the number of the table"))

i = 0

while i < 11:
    print(number, "*", i, "=", number * i)
    i+=1

Enter the number of the table 1000434587346828

1000434587346828 * 0 = 0
1000434587346828 * 1 = 1000434587346828
1000434587346828 * 2 = 2000869174693656
1000434587346828 * 3 = 3001303762040484
1000434587346828 * 4 = 4001738349387312
1000434587346828 * 5 = 5002172936734140
1000434587346828 * 6 = 6002607524080968
1000434587346828 * 7 = 7003042111427796
1000434587346828 * 8 = 8003476698774624
1000434587346828 * 9 = 9003911286121452
1000434587346828 * 10 = 10004345873468280